body {
  background-color: #012566;
}
h1 {
  color: #658614;
  text-align: center;
  margin-top: 180px;
  font-size: 64px;
  font-family: 'Cantarell', sans-serif;
}
p {
  color: #658614;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 45px;
  font-size: 26px;
  font-family: 'Lato', sans-serif;
}
